h1 {
  text-align: center;
}

.entryPane {
  textarea {
    width: 90%;
    font-family: Consolas, Menlo, Monaco, monospace;
  }
}

.previewPane {
  width: 100%;
}

.entryPane textarea, .previewPane {
  padding: 1em;
  height: 100%;
  border: {
    color: #0f0f0f;
    width: 1px;
    style: solid;
  }
}
